// Define variables for your color scheme

// // For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// my colors
$navigation-blue: #31326f;
$links-info: #590995;
$links-danger: #C62A88;
$cta-peach: #D07E5F;
$text-gray: #060930;
$background-purple: #5d5e8df2;
