<div class="">
<%= form_tag cocktails_path, class: "search-form-control", method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "search-form",
            placeholder: "Search by name or ingredient"
         %>

        <%= submit_tag "Search", class: "search " %>
      <% end %>
</div>
