<div class="container main-container mt-5">
  <h1> Cocktails List</h1>
  <hr>
  <div> <% @cocktails.each do |cocktail| %>
    <p><strong><%= cocktail.name %></strong></p>
   <%= link_to "Check how others mix this cocktail", cocktail_path(cocktail) %>



    <% end %>
    <hr>
    <%= link_to 'Add a cocktail', new_cocktail_path, class: "btn btn-primary" %>
</div>
</div>
