<!-- <div class="container home-container d-flex  justify-content-center align-items-center">
 -->
 <div class="banner">

          <div class="central-text">
            <%= image_tag 'm.png', width: "100px", class: "m-logo" %>
            <h1>Mixology</h1>
            <p>Discover and share your favorite drinks from around the world.</p>
            <%= link_to "START", cocktails_path, class: 'start-button' %>

          </div>
  </div>
<!-- </div>
 -->
