.cock-banner {
  background-color: black;
  background-position: center;
  padding: 5% 0;
  color: white;
  text-align: center;
  height: 280px;
//   position: relative;
}


// .textito {
//   position: absolute;
// }
