.index-container {
  margin: 5% 20%;

}

 .text-center-index {
  background-color: #232F42;
  padding: 40px;
  color: white;
  h1, h3 {
    margin-top: 18px;
  }
  h3 {
    font-size: 18px;
    }
  }



