
  .fas {
    position: center;
  }

.cocktail---info-col {
    padding-left: 2rem;
    text-align: left;
}

.mixes, .reviews-info {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  }

.reviews-info {
  flex-direction :column;
}


.reviews--info-title {
  background-color : white;
  margin-bottom: 20px;

}
.back {
  border-radius: $border-radius-lg;
}
