
  .fas {
    position: center;
  }

.cocktail--info-col {
    padding-left: 2rem;
    text-align: left;
}

.mixes, .reviews-info {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  }

.reviews-info {
  flex-direction :column;
}


.reviews--info-title {
  background-color : white;
  margin-bottom: 20px;

}
.back {
  border-radius: $border-radius-lg;
}



.cocktail-row {
  display: flex;
  // justify-content: space-between;
}
// media query cocktail photo row
@media (max-width: 768px) {
 .cocktail-row {
 flex-direction: column;
}
.cocktail--info-col {
  margin-top: 20px;
  padding-left: 1rem;
  width: 100%;


}
      }

@media (min-width: 768px) {

.cocktail--info-col {
  padding-left: 4rem;
  text-align: left;
  margin-left: -140px;

}
      }

// .cocktail-row > .cocktail-img {
//   max-width: 200px;
//    @media (max-width: 1024px) {
//     width: 50%;
//   }
// }

