.info-c {
 h2 {
  line-height: 20px;


 }}
.info-c {
  position: relative;
}

 .cocktail-pic {
  position: relative;
 }
.title {
  position: relative;
}

.color-backdrop{
  h1 {
    text-decoration: underline;
    list-style-position: 10px;
    text-align: center;
  }
  .fas {
    position: center;
  }
  }

.color-backdrop-2 {
    position: absolute;
    top: -20px;
    left: 1px;
    background-color: rgba(52, 203, 176, 0.4);
    width: 200px;
    height: 200px;
}
