.banner {
  background-color: black;
  background-image: radial-gradient(circle closest-side, rgba(0,0,0,0.06), rgba(0,0,0,0.9)), url("https://images.unsplash.com/photo-1545674567-ef921c2a24ac?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2100&q=80");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 10% 0;
    .central-text {
      padding: 50% auto;
      color : white;
      margin: 5% 10%;
      width: 25%;

     }
     .m-logo {
      border-radius: 40px 3px;
      padding: 10px 0;
      box-shadow: 0 0 15px  rgba(0,0,0,0.12);
      margin-bottom: 10px;

     }
     h1{
      letter-spacing: 2px;
     }
     h1, p {
     color: white ;
     opacity: .8;
     text-shadow: 2px 1px 3px rgba(0,0,0,0.7);
     }
     p {
      padding-bottom: 20px;
      font-weight: lighter;
      font-size: 25px;
      line-height: 1.1;
     }
     .start-button {
      border: 1px solid $cta-peach;
      border-radius: 20px;
      padding: 10px 25px;
      text-decoration: none;
      font-size: 20px;
     }

}

// What this query really means, is
// “If [device width] is less than or equal to 992px, then do {…}”
@media (max-width: 992px) {
  .banner {
    .central-text {
      width: 40%;
      padding: 50% auto;
      margin: 30% 15%;
      // text-align: center;
    }
    p {
      font-size: 20px;
    }
    .start-button {
      border: 1px solid $cta-peach;
      border-radius: 15px;
      padding: 7px 20px;
      font-size: 18px;


    }
  }
}



