<% if Review.where(id: - 1) %>
<% @cocktail.reviews.each do |review| %>
<p><%= review.content %></p>
<p> <%= "Rating  #{'⭐️' * review.rating}" %> </p>
<p><%= review.created_at.strftime('%d-%m-%Y') %></p>

<% end %>
<% else %>
<h3> No reviews yet </h3>
<% end %>
